sudo: false
language: java
install:
  - mvn install -Delasticsearch.version=$ES_VERSION -DskipTests=true
script:
  - mvn -Delasticsearch.version=$ES_VERSION -Dtests.security.manager=false test
env:
  - ES_VERSION=1.5.1
  - ES_VERSION=1.5.2
  - ES_VERSION=1.6.0
  - ES_VERSION=1.7.0
cache:
  directories:
  - $HOME/.m2
